* {
	eborder: 1px solid black;
}

/*.slides {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
}*/

.fig {
		margin: 0 auto;
		/*cursor: url(images/zoom_in.cur);*/
		cursor: pointer;
}

.wrapper {

	/*border: 1px solid green;*/
	min-width: 1300px;
	/*background-color: black;*/

}
.topbar {
	/*border: 1px solid red;*/
	/*background-color: red;*/
	margin-bottom: 20px;
	position: fixed;
	right: 0px; /* Расстояние от правого края окна браузера */
    left: 0px;
	top: 0px; /* Расстояние сверху */
	z-index: 10;
}
.resetLink {
	cursor: pointer;
	text-decoration: none;
	font-size: 10pt;
}
.resetLink:hover {
	text-decoration: underline;
}
.cart{
	/*border: 1px solid white;*/
	height: 20px;
	width: 80%;
	margin: 0 auto;
	min-width: 1300px;
	color: white;
}

.cartStyleUsual {
	transition-property: background-color;
  transition-duration: 3s;
}

.cartStyleHighlight {

}

.site_container{
	overflow: auto;
	/*border: 1px solid yellow;*/
	width: 85%;
	margin: 20px auto 0px;
	min-width: 1300px;
}

.header_container{
	overflow: auto;
	/*border: 1px solid red;*/

}

.logo {
	height: 125px;
	width: 330px;
	float: left;
}
.menu {
	/*border: 1px solid black;*/
	height: 50px;
	width: 900px;

	float: right;

}
.menu ul{
	/*border: 1px solid green;*/
	float: right;
	margin-right: 50px;
}
.menu ul li {
	/*border: 1px solid cyan;*/
	display: inline;
	margin-right: 20px;
	font-size: 16pt;
	font-family: Philosopher;
}
.clear{
	clear: both;
}
.caption{
	/*border: 1px solid green;*/
	margin-top: 50px;
	height: 50px;
	width: 100%;
	min-width: 500px;
	font-size: 38px;
	color: #2d5c88;
	font-family: Philosopher;
}
.content_container{
	overflow: auto;
	/*border: 1px solid blue;*/
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}

.product {
	/*overflow: auto;*/
	float: left;
	border: 1px solid gray;
	margin: 15px;
	width: 402px;
	height: 440px;
}
.product_thumb {
	/*border: 1px solid blue;*/
	/*position: absolute;*/
	/*float: left;*/
}
.nextbtn {
	/*position: absolute;*/
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
ul.slick-dots {
	margin-left: 10%;
	margin-right: 10%;
  width: 80%;
}
.prevbtn {
	position: absolute;
	float: left;
	margin-top: 305px;
	margin-left: 5px;
}
.product_header {
	/*border: 1px solid green;*/
	margin: 5px auto 0px;
	height: 50px;
	text-align: center;
	font-size: 16pt;
	font-family: Philosopher;
	overflow: hidden;
}

.product_order {
	overflow: auto;
	/*border: 1px solid red;*/
	margin: 10px auto 0px;
	height: 38px;
}
.product_price {
	/*border: 1px solid yellow;*/
	width: 30%;
	display: inline-block;
	font-size: 19pt;
	font-family: Philosopher;
	text-align: center;
	overflow: hidden;
}
.in_cart_button_container {
	/*border: 1px solid cyan;*/
	width: 40%;
	display: inline-block;
	font-size: 17pt;
	font-family: Philosopher;
	overflow: hidden;
	text-align: center;
}
.quick_view_button_container {
	/*border: 1px solid cyan;*/
	width: 30%;
	display: inline-block;
	font-size: 17pt;
	font-family: Philosopher;
	overflow: hidden;
	text-align: center;
}

.buttons {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.mid {
	border: none;
	width: 5px;
	display: inline-block;
}
.num_input {
	/*background-color: ;*/ /* Green */
  border: 1px solid #4CAF50;
	outline-width: 0;
  color: #4CAF50;
  padding: 4px 0px;
  text-decoration: none;
	text-align: center;
  display: inline-block;
	width: 40px;
}

.description {
	text-align: left;
}
.order_panel {
	text-align: left;
	width: 40%;
}

.footbar {

	background-color: gray;
	margin-top: 20px;
}
.footer{
	height: 70px;
	width: 80%;
	margin: 0 auto;
	min-width: 1300px;
	color: white;
}
h1 {
	color: red;
}
